#main-container {
    background-color: grey;
    .main-content {
        max-width: 960px;
        margin: 0 auto;
        background-image: url('../../assets/imgs/background.jpg');
        height: 100vh;
        .content {
            max-width: 400px;
            max-height: 500px;
            margin: 0 auto;
            text-align: center;
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;
            .img-title-container {
                background-color: white;
                padding-top: 24px;
                .img-content {
                    max-width: 150px;
                    max-height: 200px;
                }
                p {
                    margin-bottom: 0px;
                }
            }
            .form-container {
                padding-top: 0px;
                .submit-button-container {
                    padding: 8px 0;
                    background-color: white;
                    ion-button {
                        width: 180px;
                        border: 1.5px solid #009FDA;
                        border-radius: 40px;
                        --border-radius: 40px;
                        --background: white;
                        --color: black;
                      }
                      ion-button:hover {
                        --color: white;
                        --background: #009FDA;
                      }
                }
            }
        }
    }
}
@media (max-width: 468px) {
    .img-title-container {
        background: transparent !important;
    }
    .img-title-container p {
        display: none;
    }
    .form-container {
        margin-top: 32px;
    }
}