#main-container {
    background-color: grey;
    .main-content {
        max-width: 960px;
        margin: 0 auto;
        background-image: url('../../assets/imgs/background.jpg');
        height: 100vh;
        .content {
            max-width: 400px;
            max-height: 500px;
            background-color: white;
            margin: 0 auto;
            text-align: center;
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;
            .img-title-container {
                padding-top: 24px;
                .img-content {
                    max-width: 150px;
                }
            }
            .form-container {
                margin: 0 16px;
                ion-item {
                    color: grey;
                }
                ion-input {
                    margin-left: 8px;
                }
                .errors-form {
                    padding-left: 8px;
                    background-color: white;
                }
                .pass-icon {
                    cursor: pointer;
                }
                .submit-button-container {
                    padding: 16px 0;
                    ion-button {
                        width: 160px;
                        border: 2px solid #009FDA;
                        border-radius: 40px;
                        --border-radius: 40px;
                        --background: white;
                        --color: black;
                        text-transform: capitalize;
                      }
                      ion-button:hover {
                        --color: white;
                        --background: #009FDA;
                      }
                }
                .reminder-container {
                    background-color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 24px;
                }
                .errors-form {
                    display: flex;
                    p{
                      color: red;
                      font-weight: bold;
                      font-size: 12px;
                    }
                  }
            }
        }
    }
}
@media (max-width: 468px) {
    .content {
        margin: 0 16px !important;
        background-color: transparent !important;
    }
    .img-title-container p {
        display: none;
    }
    .form-container {
        margin-top: 32px !important;
    }
    .submit-button-container {
        padding: 0 !important;
        ion-button {
            width: 100% !important;
            color: white;
            --background: #009FDA !important;
            --border-radius: 0px !important;
            border: none !important;
            margin: 0;
          }
    }
}